*{
  margin: 0;
  padding: 0;
  
  
}
body{
  overflow-y: scroll;
  background: yellowgreen;
  color: black;
  background-size: cover;
  align-items: center;
}
h1{
  color: blue;
  align-items: center;
}
.welcome{
  display: auto;
  align-content: center;
}